.mapselect{
    background-color : rgb(18, 181, 149);
    height: 60px;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    /*border-radius: 5px;*/
}

.mapunselect{
    background-color : #002c5cd1;
    height: 60px;
    padding: 15px 0px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    /*border-radius: 5px;*/
}