.navhome{
    font-size: 12px;
    min-height: 100px;
    background: #2c354a;
    z-index: 999;
    line-height: 54px;
    margin-bottom: 1px;
    padding-top: 30px;
    position: absolute;
    width:100%
}

.navhomemobile{
    font-size: 12px;
    min-height: 100px;
    background: red;
    z-index: 999;
    line-height: 54px;
    margin-bottom: 1px;
    padding-top: 30px;
    position: absolute;
    width:100%
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.mainlogo{
    display: inline;
    background-color:#3b4868;
    border: 1px solid #656e82;
    box-shadow: 0.5px 1.5px 0.5px 0.5px #6e727b;
    top:-15px;
    padding: 30px 55px;
    height: 115px;
    width:250px;
}

.reservebtn{
    background-color: #12b595;
    height: 40px;
    border-radius: 5px !important;
    color: #ffffff;
    font-size: 0.92em;
    font-weight: 600;
    border-color: transparent !important;
    margin-left: 20px;
      line-height: 8px;
  }

.reservebtn:hover{
    background-color: #ffffff;
    color: #000;
    transition: all 0.2s ease-in;
}

@media only screen and (max-width: 667px) {
    .navhome{
        display: none !important;
    }
}