@font-face {
    font-family: DINlight;
    src: url(/fonts/DINlight.otf);
}

@font-face {
    font-family: oswald;
    src: url(/fonts/Tahoma.ttf);
}

h1{
    font-family: DINlight;
}
h2{
    font-family: DINlight;
}
h3{
    font-family: DINlight;
}
label{
    font-family: DINlight;
}
h4{
    font-family: DINlight;
}

a{
    font-family: DINlight;
}
span{
   font-family: oswald;
}
p{
   font-family: oswald;
}